<footer class="inner">
  <ul class="bs-docs-social-buttons">
    <li>
      <a class="social fab fa-github-square fa-1x" width="90" height="20" href="https://github.com/forsyde"></a>
    </li>
    <li>
      <a class="social ai ai-researchgate-square ai-1x" width="90" height="20" href="https://www.researchgate.net/project/ForSyDe-Formal-System-Design"></a>
    </li>
    <li>
      <a class="social fas fa-rss-square fa-1x" width="90" height="20" href="{{site.parent-url}}/feed.xml"></a>
    </li>
  </ul>
  {% if site.github.is_project_page %}
  <p class="copyright">The project <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.maintainer.url | default: site.github.owner_url }}">{{ site.maintainer.name | default: site.github.owner_name }}</a>.</p>
  {% endif %}
  <p class="copyright">&#169;2018-2019 The ForSyDe Group @ KTH, under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
  <p>Site published with <a href="https://pages.github.com">GitHub Pages</a>. See the <a href="/acknowledgements.html">acknowledgements page</a> for more.</p>
</footer>
